.single-blog {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

.single-blog img {
  width: 100%;
}

.single-blog .blog-content {
  margin-top: 25px;
}

.single-blog .blog-content ul {
  line-height: 1;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}

.single-blog .blog-content ul li {
  display: inline-block;
  color: #676a6a;
  border-right: 1px solid #676a6a;
  line-height: 1;
  padding: 0 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.single-blog .blog-content ul li i {
  margin: 5px;
}

.single-blog .blog-content ul li:last-child {
  border-right: none;
  padding-right: 0;
}

.single-blog .blog-content ul li:first-child {
  padding-left: 0;
}

.single-blog .blog-content ul li:first-child i {
  margin-left: 0;
}

.single-blog .blog-content ul li a {
  color: #676a6a;
}

.single-blog .blog-content ul li a:hover {
  color: #272b2b;
}

.single-blog .blog-content h3 {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1.5;
}

.single-blog .blog-content p {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: -8px;
}

.single-blog:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.single-blog:hover .blog-content a h3 {
  color: #272b2b;
}

.blog-details-sidebar-wrap .popular-post-wrap ul li a {
  position: relative;
  display: block;
}

.blog-details-sidebar-wrap .popular-post-wrap ul li {
  margin-bottom: 20px;
}

.blog-details-sidebar-wrap .popular-post-wrap ul li a {
  position: relative;
  display: block;
}

.blog-details-sidebar-wrap .popular-post-wrap ul li a h3 {
  position: absolute;
  top: 0;
  left: 200px;
  font-size: 16px;
  margin-bottom: 0;
}

.blog-details-sidebar-wrap .popular-post-wrap ul li a span {
  padding-left: 18px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.blog-details-sidebar-wrap .categories-wrap ul li {
  margin-bottom: 10px;
}

.blog-details-sidebar-wrap .categories-wrap ul li:last-child {
  margin-bottom: 0;
}

.blog-details-sidebar-wrap .categories-wrap ul li a {
  font-family: "Open Sans", sans-serif;
}

.blog-details-sidebar-wrap .about-wrap img {
  margin-bottom: 20px;
  width: 100%;
}

.blog-details-sidebar-wrap .tags-wrap ul li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.blog-details-sidebar-wrap .tags-wrap ul li a {
  border: 1px solid #cfcfcf;
  padding: 10px 15px;
  font-family: "Open Sans", sans-serif;
}

.blog-details-sidebar-wrap .tags-wrap ul li a:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.single-blog {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.blog-content {
  padding: 0 15px 15px 15px;
}
