/*
Default Style
============================*/

body {
  font-size: 15px;
  color: #676a6a;
}

h1, h2, h3, h4, h5, h6, span, a{
  font-family: 'Oswald', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
}

a {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  color: #272b2b;
}

a:hover {
  text-decoration: none;
  color: #272b2b;
}

a:focus {
  text-decoration: none;
}

button {
  outline: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272b2b;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

h3 {
  font-size: 22px;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

p{
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.8;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-control {
  height: 50px;
  color: #272b2b;
  border: 1px dashed #676a6a;
  background-color: #ffffff;
  border-radius: 0;
  font-size: 13px;
  padding: 10px 20px;
  width: 100%;

}

.form-control::-webkit-input-placeholder {
  color: #676a6a;
}

.form-control:-ms-input-placeholder {
  color: #676a6a;
}

.form-control::-ms-input-placeholder {
  color: #676a6a;
}

.form-control::placeholder {
  color: #676a6a;
}

.form-control:focus {
  color: #000000;
  background-color: transparent;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  outline: 0;
  border: 1px solid #272b2b;
}

.form-control:hover:focus,
.form-control:focus {
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

textarea.form-control {
  height: auto;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-100 {
  margin-top: -100px;
}

/*
Bg-color Style*/
.bg-color {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-color h2 {
  color: #fafafa;
}

.about-area-two p {
  color: #fafafa;
}

.bg-color-two {
  background-color: #000000;
}

/*
Default Btn Area Style*/
.default-btn {
  font-size: 15px;
  color: #272b2b;
  padding: 15px 40px;
  line-height: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  border: 1px solid #272b2b;
  margin-bottom: -4px;
}

.default-btn.two {
  background-color: #272b2b;
  color: #ffffff;
}

.default-btn.two:hover {
  color: #272b2b;
  background-color: #ffffff;
}

.default-btn.three {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.default-btn.three:hover {
  color: #272b2b;
  background-color: #ffffff;
}

.default-btn.active {
  margin-left: 20px;
  color: #272b2b;
  background-color: #ffffff;
}

.default-btn:hover {
  color: #ffffff;
  border-color: #272b2b !important;
  background-color: #272b2b;
}

/*
Read More Area Style*/
/* .read-more {
  line-height: 1;
  color: #272b2b;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.read-more i {
  position: relative;
  top: 2px;
}

.read-more:hover {
  color: #272b2b;
  letter-spacing: 2px;
} */

/*
Section Title Area Style*/
.section-title {
  max-width: 750px;
  margin: -6px auto 50px;
  text-align: center;
  position: relative;
}

.section-title span {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 50px;
  margin-bottom: 15px;
  position: relative;
  display: block;
  text-transform: uppercase;
}

.section-title h2:last-child {
  margin-bottom: 0;
}

.section-title.white-title span {
  color: #ffffff;
}

.section-title.white-title h2 {
  color: #ffffff;
}

.section-title.white-title p {
  color: #ffffff;
}

/*====================================================
HOME PAGE STYLE
======================================================*/
/*
Nav Area Style
======================================================*/
.navbar-area {
  position: absolute;
  z-index: 999;
  width: 100%;
}

.navbar-area .container-fluid {
  padding-left: 27px;
  padding-right: 27px;
}

.navbar-area .main-nav {
  background-color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}

.navbar-area .main-nav .navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-area .main-nav .navbar .navbar-brand {
  font-size: 0;
}

.navbar-brand {
  width: 5%;
}

.navbar-area .main-nav nav .navbar-nav .nav-item {
  position: relative;
  padding: 15px 0;
}

.navbar-area .main-nav nav .navbar-nav .nav-item a {
  font-size: 15px;
  color: #676a6a;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
}

.navbar-area .main-nav nav .navbar-nav .nav-item a i {
  font-size: 22px;
  line-height: 0;
  position: relative;
  top: 5px;
  font-weight: 700;
}

.navbar-area .main-nav nav .navbar-nav .nav-item a:hover {
  color: #272b2b;
}

.navbar-area .main-nav nav .navbar-nav .nav-item a.active {
  color: #b5a489;
}

.fa-plug{
  color:  #b5a489;
}

.navbar-area .main-nav nav .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.navbar-area.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.navbar-area .others-option .menu-icon {
  display: inline-block;
  margin-left: 30px;
  position: relative;
  top: 4px;
}

.navbar-area .others-option .menu-icon a i {
  font-size: 21px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1;
}

.navbar-area .others-option .menu-icon a:hover i {
  color: #272b2b;
}

.mobile-nav {
  display: none;
}

/*
What We Do Area Style
======================================================*/
.what-we-do-content span {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  margin-top: -6px;
}

.what-we-do-content h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.what-we-do-content p {
  position: relative;
  margin-left: 100px;
  margin-bottom: 45px;
}

.what-we-do-content p::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -100px;
  width: 70px;
  height: 1px;
  background-color: #272b2b;
}

.what-we-do-content .brand-wrap {
  margin-left: 100px;
  margin-bottom: 50px;
}

.what-we-do-content .brand-wrap a:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.what-we-do-content .default-btn {
  margin-left: 100px;
}

.what-we-do-item {
  text-align: center;
  border: 1px dashed #676a6a;
  padding: 20px;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.what-we-do-item i {
  font-size: 60px;
  margin-bottom: 20px;
  display: block;
  color: #272b2b;
  line-height: 1;
}

.what-we-do-item h3 {
  margin-bottom: 15px;
}

.what-we-do-item.mt-mince-30 {
  margin-top: -30px;
}

.what-we-do-item:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

/*
Footer Top Area Style
======================================================*/
.footer-top-area {
  /* background-image: url(../img/footer-bg.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.footer-top-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.single-widget {
  margin-bottom: 30px;
}

.single-widget h3 {
  color: #ffffff;
  border-bottom: 1px solid #2a2f2f;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.single-widget img {
  margin-bottom: 30px;
}

.single-widget .newsletter-wrap {
  margin-bottom: 30px;
}

.single-widget .newsletter-wrap h3 {
  color: #ffffff;
  margin-bottom: 20px;
  border: none;
  padding-bottom: 0;
}

.single-widget .newsletter-wrap .newsletter-form {
  position: relative;
}

.single-widget .newsletter-wrap .newsletter-form .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 0;
 
  color: #ffffff;
}

.single-widget
  .newsletter-wrap
  .newsletter-form
  .form-control::-webkit-input-placeholder {
  color: #676a6a;
}

.single-widget
  .newsletter-wrap
  .newsletter-form
  .form-control:-ms-input-placeholder {
  color: #676a6a;
}

.single-widget
  .newsletter-wrap
  .newsletter-form
  .form-control::-ms-input-placeholder {
  color: #676a6a;
}

.single-widget .newsletter-wrap .newsletter-form .form-control::placeholder {
  color: #676a6a;
}

.single-widget .newsletter-wrap .newsletter-form .send-btn {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 0;
  color: #ffffff;
  font-size: 20px;
  padding-right: 0;
}

.single-widget .social-wrap li {
  display: inline-block;
  padding-right: 15px;
}

.single-widget .social-wrap li a i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #7c7e7e;
  color: #7c7e7e;
  display: inline-block;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.single-widget .social-wrap li a:hover i {
  border-color: #ffffff;
  color: #ffffff;
}

.single-widget .address li {
  color: #ffffff;
  
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}

.single-widget .address li:last-child {
  margin-bottom: 0;
}

.single-widget .address li i {
  position: absolute;
  top: 0;
  left: 0;
}

.single-widget .address li a {
  display: block;
  color: #ffffff;
}

.single-widget .address li a:hover {
  color: #676a6a;
}

.single-widget .additional-link li {
  color: #ffffff;

  margin-bottom: 20px;
}

.single-widget .additional-link li:last-child {
  margin-bottom: 0;
}

.single-widget .additional-link li a {
  display: block;
  color: #ffffff;
  position: relative;
  padding-left: 20px;
}

.single-widget .additional-link li a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
}

.single-widget .additional-link li a:hover {
  color: #676a6a;
}

.single-widget .instagram li {
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 2px;
}

.single-widget .instagram li a img {
  margin-bottom: 0;
}

/*
Footer Bottom Style
======================================================*/
.footer-bottom-area {
  border-top: 1px solid #2a2f2f;
  background-color: #020607;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-bottom-area .copyright-wrap {
  text-align: center;
}

.footer-bottom-area .copyright-wrap p {
  color: #676a6a;
}

.footer-bottom-area .copyright-wrap p a {
  color: #676a6a;
}

.footer-bottom-area .copyright-wrap p a:hover {
  color: #ffffff;
}

.footer-bottom-area .copyright-wrap p i {
  position: relative;
  top: 1px;
}

#validator-newsletter-2 {
  color: red;
  margin-top: 10px;

}

/*
Sidebar Area Style
======================================================*/
.sidebar-modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.sidebar-modal .sidebar-modal-inner {
  position: absolute;
  right: -100%;
  top: 0;
  width: 23%;
  overflow-y: scroll;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  padding: 40px;
}

.sidebar-modal .sidebar-header {
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
}

.sidebar-modal .sidebar-header .sidebar-logo {
  display: inline-block;
}

.sidebar-modal .sidebar-header .close-btn {
  display: inline-block;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #272b2b;
  color: #ffffff;
  border-radius: 0;
  float:right;
  text-align: center;
}

.sidebar-modal .sidebar-header .close-btn:hover {
  color: #ffffff;
  background-color: #272b2b;
}

.sidebar-modal .sidebar-about {
  margin-bottom: 30px;
}

.sidebar-modal .sidebar-about .title h2 {
  margin-bottom: 0;
  font-size: 24px;
}

.sidebar-modal .sidebar-about .title p {
  margin-bottom: 0;
  font-size: 15px;
}

.sidebar-modal .contact-us {
  margin-bottom: 30px;
}

.sidebar-modal .contact-us h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

.sidebar-modal .contact-us ul li {
  
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}

.sidebar-modal .contact-us ul li:last-child {
  margin-bottom: 0;
}

.sidebar-modal .contact-us ul li i {
  position: absolute;
  top: 1px;
  left: 0;
  font-size: 16px;
}

.sidebar-modal .contact-us ul li a {
  display: block;
}

.sidebar-modal .sidebar-instagram-feed {
  margin-bottom: 30px;
}

.sidebar-modal .sidebar-instagram-feed h2 {
  margin-bottom: 25px;
  font-size: 25px;
}

.sidebar-modal .sidebar-instagram-feed ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 0;
  margin-top: -10px;
}

.sidebar-modal .sidebar-instagram-feed ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  max-width: 33%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.sidebar-modal .sidebar-instagram-feed ul li a {
  display: block;
  position: relative;
}

.sidebar-modal .sidebar-instagram-feed ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.sidebar-modal .sidebar-instagram-feed ul li a:hover::before {
  opacity: 0.5;
  visibility: visible;
}

.sidebar-modal .sidebar-follow-us h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

.sidebar-modal .sidebar-follow-us .social-wrap {
  line-height: 1;
}

.sidebar-modal .sidebar-follow-us .social-wrap li {
  display: inline-block;
  padding-right: 10px;
}

.sidebar-modal .sidebar-follow-us .social-wrap li a i {
  font-size: 20px;
}

.sidebar-modal .sidebar-follow-us .social-wrap li a:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.sidebar-modal.active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.9);
}

.sidebar-modal.active .sidebar-modal-inner {
  right: 0;
}

/* 
Bio Data Area Style
=====================================================*/
.bio-data .about-content h3 {
  position: relative;
  padding-left: 100px;
  font-size: 18px;
}

.bio-data .about-content h3::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: #272b2b;
}

.bio-data .about-content p {
  padding-left: 100px;
}

.bio-data .about-grid-img {
  margin-bottom: 15px;
  margin-right: 15px;
}

/*====================================================
OTHERS STYLE AREA
======================================================*/
/*
Preloader Area Style*/
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  z-index: 9999;
}

.loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #b5a489;
  z-index: 10;
}

.loader-wrapper .loader-section.section-left {
  left: 0;
}

.loader-wrapper .loader-section.section-right {
  right: 0;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  -webkit-animation: spin 1.7s linear infinite;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  -webkit-animation: spin-reverse 0.6s linear infinite;
  animation: spin-reverse 0.6s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.loaded .loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.loaded .loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/*
Go Top Style*/
.go-top {
  position: fixed;
  cursor: pointer;
  top: 88%;
  right: -10%;
  background-color: #272b2b;
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 42px;
  line-height: 42px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.go-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
}

.go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.go-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #272b2b;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.go-top:hover {
  color: #ffffff;
  background-color: #272b2b;
}

.go-top:hover::before {
  opacity: 1;
  visibility: visible;
}

.go-top:hover i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:hover i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.go-top:focus {
  color: #ffffff;
}

.go-top:focus::before {
  opacity: 1;
  visibility: visible;
}

.go-top:focus i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:focus i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.go-top.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  right: 3%;
  top: 88%;
}

/*
Video wave Style*/
.video-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 89px;
  text-align: center;
  border-radius: 0;
  color: #272b2b;
  position: relative;
  top: 3px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 50%;
}

.video-btn i {
  font-size: 50px;
  font-weight: 700;
  color: #272b2b;
  position: absolute;
  top: 0;
  left: 4px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.video-btn::after,
.video-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  border-radius: 0;
  background-color: #ffffff;
  border-radius: 50%;
}

.video-btn::before {
  -webkit-animation: ripple 1.6s ease-out infinite;
  animation: ripple 1.6s ease-out infinite;
}

.video-btn::after {
  -webkit-animation: ripple 1.6s ease-out infinite;
  animation: ripple 1.6s ease-out infinite;
}

.video-btn:hover {
  background-color: #272b2b;
}

.video-btn:hover i {
  color: #ffffff;
}

.video-btn:hover::after,
.video-btn:hover::before {
  background-color: #272b2b;
}

@-webkit-keyframes ripple {
  0%,
  35% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes ripple {
  0%,
  35% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

/*
Nice select Area Style*/
.nice-select .list {
  width: 100%;
}

.nice-select .option:hover {
  background-color: #272b2b;
  color: #ffffff;
}

.nice-select .option.selected.focus {
  color: #272b2b;
}

/*
Page-navigation Area Style*/
.pagination-area {
  margin-top: 10px;
}

.pagination-area .page-numbers {
  width: 38px;
  height: 38px;
  color: #676a6a;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  line-height: 41px;
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 20px;
  font-weight: 500;
}

.pagination-area .page-numbers:hover {
  color: #272b2b;
}

.pagination-area .page-numbers i {
  position: relative;
  font-size: 30px;
  top: 5px;
}

.pagination-area .page-numbers.current {
  color: #272b2b;
}

.insta-img {
  width: 88px;
}

.partner-area h2 {
  color: #ffffff;
  text-align: center;
}

.portfolio-content {
  margin-top: 30px;
}

.logo-footer {
  width: 100px;
}

.sidebar-logo img {
  width: 200px;
}

.latest-trailer-content .default-btn {
  margin-left: 100px;
}

.about-area-two span {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  margin-top: -6px;
}

.about-area-two .about-content h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.bio-data p {
  color: #676a6a;
}

.get-in-touch-area .default-btn {
  border: none;
}
